<ul class='lists-right'>
  <li>ニックネーム：<%= current_user.nickname %></li> 
  <li><%= link_to 'ログアウト', destroy_user_session_path , method: :delete, class: "logout" %></li> 
</ul>

<%= form_with model: @item, local: true do |f|  %>

  <%= render 'shared/error_messages', model: f.object %>
  
  <%= f.text_field :name, placeholder:"商品名", maxlength:"20" %>
  <%= f.number_field :stock, placeholder:"在庫数 整数のみ", min:0 %>
  <%= f.number_field :price, placeholder:"価格", min:0 %>
  <%= f.collection_select(:category_id, Category.all, :id, :name, {}) %>
  <%= f.submit "登録"  %>

<% end %>


<% @items.each do |i| %>
  <div>
  <%= i.category.name %>
  <%= i.name %>
  <%= i.stock %>
  <%= i.price.to_s(:delimited) unless i.price.nil?%>
  <%= link_to '↑','#' %>
  <%= link_to '↓','#' %>
  <%= link_to 'edit','#' %>

  </div>

<% end %>


<p>hoge</p>
